<Config>
  <LogLevel>Info</LogLevel>
  <Port>8889</Port>
  <UrlBase>%%ingress_entry%%</UrlBase>
  <BindAddress>127.0.0.1</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>a69be53a38e24740b581051900584fa6</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
</Config>